<% include ./partials/header %>

<a href="/api/authors"><img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/steve_holden.jpg" alt="Author Image"></a>
<a href="/api/books"><img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/think_python.jpg" alt="Book Cover"></a>
            <% include ./partials/footer %>
